@import "colors";

.cart {
	height: 90vh;
	display: grid;
	grid-template-columns: 4fr 1fr;

	> main {
		padding: 10px;
		overflow-y: auto;
		&::-webkit-scrollbar{
			display: none;
		}
		> h1 {
			color: $tertiary;
			font: 100 30px "Roboto";
			margin: 20px;
		}
	}

	> aside {
		border-radius: 50px 0 0 50px;
		background-color: $primary;
		color: $tertiary;
		height: 100%;
		width: 100%;
		box-shadow: -10px 0 10px rgba(0, 0, 0, 0.182);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		> h2 {
			margin: 10px;
			font: 100 15px "Roboto";
			letter-spacing: 2px;
			&:last-child {
				font-weight: 600;
			}
		}
	}
}

.cartItem {
	background-color: $tertiary;
	width: 100%;
	border-radius: 10px;
	margin: 20px 0;
	padding:  10px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	align-items: center;
	img {
		width: 90%;
		object-fit: contain;
	}
	> div {
		display: flex;
		align-items: center;
		height: 100%;
		button {
			width: 25px;
			height: 25px;
			border: none;
			background-color: $primary;
			color: $tertiary;
			border-radius: 5px;
			cursor: pointer;
			&:hover {
				background-color: $primarydark;
			}
		}
		p {
			width: 25px;
			height: 25px;
			display: grid;
			place-items: center;
		}
	}
	> svg {
		font-size: 23px;
		cursor: pointer;
		display: inline-block;
		margin: auto;
		&:hover {
			color: $secondary;
		}
	}
}
